.navbar-brand {
	background-color: yellow ;
}

form {
	background-color: gray;
}

.my-col {
	border-style: dotted;
	border-color: red;
}
.my-row {
	border-style:groove;
	border-color: green; 
}

.my-cent {
	text-align: 0, auto;
}